<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91891815469-tq1h3mpfbvju023ovofrf9jaqqsmgp2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91891815469-tq1h3mpfbvju023ovofrf9jaqqsmgp2l</string>
	<key>API_KEY</key>
	<string>AIzaSyASrCDLL5-KyAdmWphQUl9KfT3xDwmpaAY</string>
	<key>GCM_SENDER_ID</key>
	<string>91891815469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicAlly</string>
	<key>PROJECT_ID</key>
	<string>medically-5c839</string>
	<key>STORAGE_BUCKET</key>
	<string>medically-5c839.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91891815469:ios:817990e42575a76b0e14a4</string>
</dict>
</plist>